
<div style="color:blue; text-align:center; ">
    <h1>Flickr Search :</h1>
    <%= form_with url: static_pages_path, method: :get do |f| %>
        <%= f.text_field :id, placeholder: "Flickr ID" %>
        <%= f.submit "Find Photos" %>
    <% end %>
</div>